
.container.testimonials_container{
    width: 40%;
    padding-bottom: 4rem;
}
.client_avatar{
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid  rgba(77, 181, 255, 0.4);
}
.testimonial{
    background:  #2c2c6c;
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}
.client_review {
    color:  rgba(255 , 255, 255, 0.6);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background:  #4db5ff ;
}


/* **********************************media queries *******************/ 
@media screen and (max-width : 1024px) {
        .container.testimonail_container{
            width: 60%;
        }

 }
  /* ********************************** media queries small devices *******************/ 
  @media screen and (max-width : 600px) {
    .container.testimonail_container{
        width: 90%;
    }
    .client_review{
        width: 90% ;
    }

  }